.App {
  text-align: center;
}

.App-logo {

  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:
}

@keyframes App-logo-spin {
  from {
     );
  }
  to {
    transform: rotate(360deg);
